/* ====================================   Header's style   ==================================== */

#m-site-header {
    padding: 10px 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .14); // margin-bottom: 20px;
    background: #1f1f1f;
    .site-wrap {
        position: relative;
    }
    .logo {
        width: 110px;
    }
    .fa-navicon {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 24px;
        color: white;
        transition: color 0.2s linear, background-color 0.2s linear;
        &.is-active {
            color: $brand-warning;
            background: #333;
            padding: 18px 10px 23px 10px;
            top: -10px;
            right: 0px;
        }
    }
    @include breakpoint(md) {
        display: none;
    }
}

.mobile {
    &__menu {
        background: #333; // margin: -20px 0 20px;
        padding: 10px;
        display: none;
    }
    &__search {
        position: relative;
        margin-bottom: 10px;
        .fa-search {
            position: absolute;
            right: 2px;
            top: 0px;
            padding: 8px;
            font-size: 18px;
            @include transition(all, 0.2, linear);
            @include haf {
                color: $brand-warning;
            }
        }
    }
    &__cate-listing {
        li {
            font-family: $font-family-special, arial, sans-serif;
            font-size: 16px;
            line-height: 2.2rem;
            margin: 7px 0;
            a {
                &::before {
                    content: '•';
                    display: inline-block;
                    margin-right: 10px;
                }
                display: block;
                @extend .link-warning;
            }
        }
    }
}

#site-header {
    @include clearfix();
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    @include breakpoint(md) {
        display: block;
    }
}

.site-header {
    &__topbar {
        @include clearfix();
        padding: 0 10px;
        background-color: #1f1f1f;
        @include font-size(12, 35);
        z-index: 5;
        time {
            float: left;
        }
    }
    &__search {
        float: right;
        position: relative;
        width: 200px;
        .form-control {
            height: 25px;
            margin-top: 5px;
            font-size: 12px;
        }
        .fa-search {
            cursor: pointer;
            position: absolute;
            right: 4px;
            top: 9px;
            font-size: 16px;
            @include transition(all, 0.2, linear);
            @include haf {
                color: $brand-warning;
            }
        }
    }
    &__content {
        padding: 36px 0; // background: #1f1f1f;
        // background: transparent;
        background-color: rgba(31, 31, 31, 0.4);
        transition: padding 0.2s linear;
        .logo {
            width: 170px;
            float: left;
        }
    }
    &.affix {
        background: white;
        .site-header__content {
            padding: 18px 0;
            background-color: #1f1f1f;
        }
    }
    &__nav {}
}

.navigator {
    @include clearfix();
    >li {
        float: left;
        position: relative;
        font-family: $font-family-special, Helvetica, Arial, sans-serif;
        margin-right: 1px;
        font-size: 14px;
        line-height: 56px;
        text-transform: uppercase;
        @include breakpoint(lg) {
            font-size: 16px;
        }
        a {
            display: block;
            padding: 0 13px;
            @include transition(all, 0.2, linear);
            color: white;
            position: relative; // text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
            @include breakpoint(lg) {
                padding: 0 20px;
            }
            &::after {
                display: block;
                content: '';
                position: absolute;
                left: 25px;
                right: 25px;
                bottom: 0;
                height: 5px;
                background: transparent;
                @include transition(all, 0.3, linear);
            }
            &:hover {
                &::after {
                    background: $brand-warning;
                }
            }
        }
        &:hover {
            .navigator__child {
                left: auto;
            }
            .navigator__search {
                right: 0;
            }
        }
        &.is-active {
            a {
                &::after {
                    background: $brand-warning;
                }
            }
        }
        &:last-child {
            a {
                padding-right: 0;
                &::after {
                    right: 0;
                }
            }
        }
    }
    &__child {
        position: absolute;
        top: 100%;
        left: -999em;
        width: 300px;
        z-index: 2;
        font-size: 14px;
        line-height: 35px;
        @include breakpoint(lg) {
            font-size: 16px;
        }
        @include has-shadow();
        >li {
            a {
                padding-top: 5px;
                background: #333;
                color: white !important;
                &:hover {
                    background: #555;
                    &::after {
                        background: transparent;
                    }
                }
            }
        }
    }
}