/* article style */

// normal detail
.main-article {
    position: relative;
    .article-hdr {
        // header article 
        .article-title {
            @include font-size(22, 30);
            margin-bottom: 10px;
            font-weight: bold;
        }
        .meta {
            margin-bottom: 5px;
            @include font-size(14, 19);
            color: #999;
            .meta-info {
                .cate-prefix {
                    color: white;
                    background-color: $brand-primary;
                    padding: 2px 3px;
                    margin-right: 3px;
                }
                .cate {}
                .author {
                    text-transform: uppercase;
                    color: $brand-primary;
                }
                time {}
            }
        }
        .summary {
            @include font-size(14, 19);
            margin-bottom: 10px;
            color: #777;
            a {
                color: $brand-primary;
            }
        }
    }
    .bottom-share {
        padding-bottom: 10px;
        margin-bottom: 10px;
        .title {
            text-transform: uppercase;
            padding-bottom: 5px;
            font-weight: bold;
        }
        .social {
            display: inline;
            ul {
                li {
                    float: left;
                    margin-right: 5px;
                }
            }
        }
    }
    .article-avatar {
        margin-bottom: 10px;
        img {
            margin-bottom: 5px;
        }
    }
    .article-content {
        //main article content
        @include clearfix;
        .content {
            // width: 440px;
            // float: left;
            @include font-size(14, 19);
            p,
            div,
            h3,
            h4,
            h5 {
                margin-bottom: 10px;
                margin-top: 0;
            }
            img {
                max-width: 100%;
            }
            a {
                font-weight: bold;
                color: $brand-primary;
            }
        }
        .article-aside {
            width: 180px;
            float: right;
            @include clearfix();
            .zone__title {
                font-size: 14px;
            }
            .story--border {
                &:first-child {
                    padding-top: 0;
                }
                .story__thumb {
                    margin-bottom: 7px;
                }
            }
        } // slider article 
        &.has-slider {
            .content,
            .article-aside {
                width: 100%;
                float: none;
            }
            .article-aside {
                .zone {
                    width: 50%;
                    float: left;
                    padding: 0 10px;
                }
            }
        }
        .galleria-container {
            .galleria-info-link,
            .galleria-info-close {
                display: none !important;
            }
            .galleria-info {
                top: initial;
                bottom: 50px;
                right: 10px;
                left: 10px;
                width: initial;
            }
            .galleria-info-text {
                background-color: rgba(29, 97, 167, 0.7);
                display: block !important;
            }
        }
        .galleria-theme-classic .galleria-image-nav {
            margin-top: -62px;
        }
        .galleria-theme-classic .galleria-info-description {
            margin-bottom: 0;
        }
        .galleria-counter {
            bottom: initial;
            top: 10px;
        }
        /* -------------- */
        .full-img {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            img {
                margin-bottom: 5px;
                max-width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .fig {
                font-size: 14px;
                color: #555;
                font-style: italic;
                text-align: center;
                display: block;
            }
        }
        /* -------------- */
        .aside-img {
            margin-bottom: 15px;
            p.thumbnail {
                position: relative;
                width: 100%;
                margin-bottom: 0px;
                img {
                    max-width: 100%;
                }
            }
            .fig {
                font-size: 13px;
                color: #222;
                font-style: italic;
            }
            i,
            em {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .aside-img.pull-right {
            margin-left: 30px;
            margin-right: 0px;
        }
        .aside-img.pull-left {
            margin-right: 30px;
        }
        /* -------------- */
        .article-photo.inlinephoto {
            display: block;
            margin-bottom: 10px;
            img {
                margin-bottom: 5px;
                max-width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            span,
            .fig {
                font-size: 12px;
                color: #222;
                font-style: italic;
                display: block;
            }
        }
        /* -------------- */
        .author {
            font-weight: bold;
            text-align: right;
        }
        /* -------------- */
        .inner-article {
            padding-bottom: 0;
            margin-bottom: 20px;
            background: #f0f0f0;
            figure {
                margin-top: 0 !important;
                margin-right: 0 !important;
                img {
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                    width: 70px;
                    height: 70px;
                }
            }
            header {
                padding: 10px 10px 5px 10px;
                height: 70px;
                overflow: hidden;
                .title {
                    font-size: 12px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0;
                    max-height: 4.2em;
                    overflow: hidden;
                    a {
                        &:hover {
                            color: $brand-primary;
                        }
                    }
                }
            }
            &:hover {
                background: #eee;
            }
        }
        /* video player */
        .video-player {}
        /* table with */
        table {
            max-width: 100% !important;
        }
        /* -------------- */
        .quotes {
            margin: 0 0 10px;
            padding: 10px 10px 10px 40px;
            background: #e8eaf0;
            border: 1px solid #d5dbee;
            position: relative;
            clear: both;
            .author {
                font-style: normal;
                text-align: right;
                font-weight: bold;
                display: block;
                padding-top: 10px;
            }
            &::before {
                content: 'ï„';
                font-family: "Fontawesome";
                font-size: 20px;
                font-size: 2rem;
                color: $brand-primary;
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }
        .quotes.pull-left {
            margin-right: 20px;
            width: 50%;
        }
        .quotes.pull-right {
            margin-left: 20px;
            width: 50%;
        }
        /* -------------- */
        .article-poll {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            clear: both;
            div,
            p {
                margin-bottom: 0;
            }
            header {
                font-family: Arial, Helvetica, sans-serif;
                border-bottom: 1px solid #ddd;
                padding: 15px;
                margin-bottom: 10px;
                background: #eee;
                h1 {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                a {
                    font-size: 14px;
                }
            }
            .poll-topic {
                padding: 15px 0;
                margin: 0 15px;
                border-bottom: 1px solid #ddd;
                h3 {
                    font-size: 14px;
                }
                lable {
                    font-weight: normal;
                }
                .multi-answers {
                    label {
                        display: block;
                        margin-left: 15px;
                        margin-bottom: 5px;
                    }
                }
            }
            .person-info {
                padding: 10px 0;
                margin: 0 15px;
                .form-group {
                    width: 40%;
                    float: left;
                    margin-bottom: 10px;
                }
                .form-group:nth-child(2n) {
                    float: right;
                }
            }
            footer {
                padding: 15px;
                background: #eee;
                text-align: right;
                h1 {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                a {
                    font-size: 14px;
                }
                button {
                    margin-left: 15px;
                }
            }
        }
        /* -------------- */
        .box-relate,
        .notification {
            padding: 10px;
            background: lighten($brand-primary, 30%);
            border: 1px dashed #333;
            border-radius: 3px;
            &.pull-left,
            &.floatleft {
                float: left;
                width: 50%;
                margin-right: 10px;
            }
            &.pull-right,
            &.floatright {
                float: right;
                width: 50%;
                margin-left: 10px;
            }
        }
        /* -------------- */
        .article-tag {
            margin-bottom: 16px;
            h3 {
                padding-top: 2px;
                font-size: 14px;
                float: left;
                margin: 0 10px 0 0;
                .sprites-keyword {
                    margin-right: 3px;
                }
            }
            &>div {
                // padding-top: 2px;
                a {
                    color: #333;
                    display: inline-block;
                    padding: 0px 10px;
                    border-radius: 3px;
                    margin: 0px 5px 5px 0px;
                    font-size: 12px;
                    font-size: 1.2rem;
                    font-weight: normal;
                    &:hover {
                        color: #fff;
                        background: $brand-primary;
                    }
                }
            }
        } // related inline story
        .related-inline-story {
            margin-bottom: 10px;
            background-color: #f7f7f7;
            height: 137px;
            overflow: hidden;
            .thumb {
                margin-bottom: 0;
            }
            .title {
                padding: 10px;
                @include font-size(14, 19);
                a {
                    color: black;
                    @include haf() {
                        color: $brand-primary;
                    }
                }
            }
        }
        .social-share {
            text-align: right;
            >a {
                font-size: 20px;
                display: inline-block;
                margin-left: 5px;
                vertical-align: bottom !important;
                color: black;
                &:hover {
                    color: #555;
                }
            }
        }
    }
}

// main story
.main-story {
    margin-top: 24px;
    &__header {
        font-size: 36px;
        line-height: 1.1em;
        margin-bottom: 20px;
        font-weight: bold;
    }
    &__content {
        @include clearfix;
        font-size: 18px;
        line-height: 22px;
        &>div,
        &>p,
        &>h3,
        &>h4,
        &>h5 {
            margin-bottom: 24px;
        }
    }
    &__image {
        margin-bottom: 24px;
        text-align: center;
        img {
            margin-left: auto;
            margin-right: auto;
        }
        &.pull-left {
            width: 50%;
            float: left;
            margin: 0 16px 16px 0;
        }
        &.pull-right {
            width: 50%;
            float: right;
            margin: 0 16px 16px 0;
        }
    }
    &__aside {
        .zone {
            padding-top: 0;
        }
        .zone__title {
            border-bottom: 3px solid $brand-warning;
            text-align: center;
            padding: 12px 0;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 34px;
        }
        .zone__content {
            padding: 0 24px;
        }
        .story {
            &+.story {
                margin-top: 24px;
                padding-top: 24px;
                position: relative;
                &::before {
                    display: block;
                    width: 60px;
                    height: 1px;
                    background: #979797;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -30px;
                }
            }
        }
        .view-more {
            margin-bottom: 16px;
        }
    }
}