/* style for quote */

.quote {
    margin: 0 0 20px;
    &__txt {
        border-radius: 10px;
        border: 2px solid $brand-warning;
        padding: 40px 15px 20px;
        position: relative;
        @include font-size(16, 22);
        margin-bottom: 20px;
        p {
            margin-bottom: 10px;
            max-height: 250px;
            overflow: auto;
            &::-webkit-scrollbar-track {
                // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: transparent;
            }
            &::-webkit-scrollbar {
                width: 6px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                background-color: rgba(255, 255, 255, 0.3);
                width: 4px;
            }
        }
        &::after {
            display: block;
            content: '';
            font-family: "Ionicons";
            position: absolute;
            bottom: 100%;
            right: 10px;
            color: $brand-warning;
            background: white;
            padding: 0 5px;
            transform: translate(0, 50%) rotate(180deg);
            font-size: 70px;
            line-height: 1em;
        }
    }
    &__author {
        @include font-size(18, 24);
    }
}